@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

.img-header{
    background-image: url(../img/background-header.png);
}

.font-header{
    font-family: 'Nunito', sans-serif;
}

#h1 > p {
  color: aqua;
}